.App {
  text-align: center;
}
.home-link{
  height: 90vmin;
  color: #34495e;
  text-shadow: -1px -1px 0 orange, 1px -1px 0 black
}

.catalog-link{
  height: 90vmin;
  color: #34495e;
  text-shadow: -1px -1px 0 orange, 1px -1px 0 black
}
.Yonatan-logo {
  height: 40vmin;
  pointer-events: auto;
}
.Jeremy-logo {
  height: 40vmin;
  pointer-events: auto;
}
.Eden-logo {
  height: 40vmin;
  pointer-events: auto;
}
.title {
  height: 50vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.background {
    background-color: #282c34;
    background-color: #282c34;
    height: 94.5vh;
    display: flex;
    justify-content: center;
    color: white;

}
.user {
  background-color: #282c34;
  height: 94.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Who {
  position: absolute;
  width: fit-content;
  justify-self: center;
}
h3 {
  position: absolute;
  align-self: flex-start;
  padding-top: 100px;
}
.jeremy {
  left: 17.5vw;
}
.eden {
  right: 17.5vw;
}